@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/montserrat.woff');
}

body {
    font-family: 'Montserrat'; 
    font-style: italic;
    font-weight: bold;
} 
h1 {
    color: red;
}